Repository axiona25/AXPHONE, changes with the owners that CODEOWNERS names for each.
All owners: @securevox/sec-team, @securevox/backend, @securevox/mobile, @securevox/frontend, @securevox/devops

feat: E2E encryption admin controls and notification system improvements
  admin/src/components/chat/ChatPage.tsx
  admin/src/components/chat/UserChatsPage.tsx
  mobile/securevox_app/lib/services/auth_service.dart
  mobile/securevox_app/lib/services/e2e_api_service.dart
  mobile/securevox_app/lib/services/e2e_manager.dart
  mobile/securevox_app/lib/services/message_service.dart
  mobile/securevox_app/lib/services/real_chat_service.dart
  mobile/securevox_app/lib/services/unified_realtime_service.dart
  server/src/api/chat_monitoring_views.py
  server/src/api/e2e_views.py
  server/src/api/urls.py
Owners: @securevox/frontend, @securevox/mobile, @securevox/backend

fix: Add E2E encryption for all attachment types and sync logic
  mobile/securevox_app/lib/services/e2e_manager.dart
  mobile/securevox_app/lib/services/message_service.dart
Owners: @securevox/mobile

feat: 🔐 Mostra icone allegati cifrati in modale admin dashboard
  admin/src/components/chat/UserChatsPage.tsx
Owners: @securevox/frontend

feat: 🔐 Implementata cifratura E2E per allegati (upload)
  mobile/securevox_app/lib/services/e2e_manager.dart
  mobile/securevox_app/lib/services/encryption_service.dart
  mobile/securevox_app/lib/services/media_service.dart
  mobile/securevox_app/lib/services/unified_attachment_service.dart
Owners: @securevox/mobile

feat: 🔐 Implementata decifratura E2E per allegati (download + UI)
  mobile/securevox_app/lib/screens/chat_detail_screen.dart
  mobile/securevox_app/lib/services/media_service.dart
Owners: @securevox/mobile

fix: 🔐 Backend accetta file cifrati (application/octet-stream)
  server/src/api/media_service.py
Owners: @securevox/backend

v1.3.1: MAJOR FIX - PDF Viewer Loop e Encryption
  CHANGELOG.md
  VERSION
  call-server/DEBUGGING_DESTINATARIO.md
  mobile/securevox_app/AVVIO_BACKEND.md
  mobile/securevox_app/lib/screens/file_viewer_screen.dart
  mobile/securevox_app/lib/widgets/pdf_preview_widget.dart
Owners: @securevox/sec-team, @securevox/mobile

docs: Aggiunto RELEASE_NOTES per v1.3.1
  RELEASE_NOTES_v1.3.1.md
Owners: @securevox/sec-team

v1.3.1: Fix - Metadata E2E Immagini e Timestamp Chat
  mobile/securevox_app/lib/services/media_service.dart
  mobile/securevox_app/lib/services/unified_realtime_service.dart
  server/src/api/media_service.py
Owners: @securevox/mobile, @securevox/backend

fix: Consistency in _convertedPdfUrl for office conversion
  mobile/securevox_app/lib/screens/file_viewer_screen.dart
Owners: @securevox/mobile

fix: Estratti metadata E2E dal backend per upload file
  mobile/securevox_app/lib/services/media_service.dart
Owners: @securevox/mobile

fix: Notifica listener quando aggiorna cache chat e metadata E2E file
  mobile/securevox_app/lib/services/real_chat_service.dart
Owners: @securevox/mobile

fix: Estrazione metadata E2E file dal backend per uploadFile
  mobile/securevox_app/lib/services/media_service.dart
Owners: @securevox/mobile

CODEOWNERS:

# Imposta i code owners per revisione obbligatoria
*       @securevox/sec-team
/server/ @securevox/backend
/mobile/ @securevox/mobile
/admin/  @securevox/frontend
/infra/  @securevox/devops
